body{
    background-color: blueviolet;
}

h2{
  display: block;
  text-align: center;
  color: yellow;
  margin-top: 30px;
}

.contenedor-productos{
  background-color: yellow;
  padding-bottom: 20px;
}

.carrusel-principal{
  background-color: yellow;
  padding-bottom: 60px;
}

nav.navbar {
    height: 120px; 
    border: 2px solid black;
    background-color: yellow !important;
  }

.dropdown-menu {
    background-color: yellow;
    border: 2px solid black;
}

.nav-link {
    font-size: 24px;
}  


.ms-3,
.ms-auto {
  margin-right: 100px; 
}


.navbar-brand {
    margin-left: 80px; 
  }



.carousel {
  margin-top: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  height: 32rem;
}

.contenedor-productos img {
  margin-top: 40px; 
  padding: 0;
  border-radius: 10px;
}



.contenedor-1{
  margin: 20px 20px 60px 20px;
  border: 2px solid black;
  background-color: blueviolet;
  margin-top: 0px;
  padding: 0px;
  border-radius: 10px;
  height: 500px;  
}

.contenedor-2{
  margin: 20px 20px 60px 20px;
  border: 2px solid black;
  background-color: blueviolet;
  border-radius: 10px;
  height: 500px;
}

.contenedor-3{
  margin: 20px 20px 60px 20px;
  border: 2px solid black;
  background-color: blueviolet;
  border-radius: 10px;
  height: 500px;
}

.contenedor-4{
  margin: 20px 20px 60px 20px;
  border: 2px solid black;
  background-color: blueviolet;
  border-radius: 10px;
  height: 500px;
}


.footer{
  background-color: blueviolet;
  padding-bottom: 150px ;
  border: 2px solid black;  
}











